{{#if isTable}}
<table border="0" cellspacing="0" cellpadding="0" style="margin: {{margin}};">
    <tr>
        <td align="center" style="border-radius: {{borderRadius}};" bgcolor="{{backgroundColor}}">
            <a href="{{url}}" target="_blank" style="display: inline-block; padding: {{padding}}; background-color: {{backgroundColor}}; color: {{textColor}}; text-decoration: none; border-radius: {{borderRadius}}; font-weight: 600; font-family: 'Unbounded', sans-serif; font-size: {{fontSize}}; box-shadow: 0 4px 6px rgba(168, 85, 247, 0.2); transition: all 0.2s;">
                {{text}}
            </a>
        </td>
    </tr>
</table>
{{else}}
<a href="{{url}}" style="display: inline-block; padding: {{padding}}; background-color: {{backgroundColor}}; color: {{textColor}}; text-decoration: none; border-radius: {{borderRadius}}; font-weight: 600; text-align: center; transition: all 0.2s; box-shadow: 0 4px 6px rgba(168, 85, 247, 0.2); font-family: 'Unbounded', sans-serif; font-size: {{fontSize}}; margin: {{margin}};">
    {{text}}
</a>
{{/if}} 